.calendar {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  text-align: center;
}

.month img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
